<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        $(function () {
            // 点击图片切换验证码
            $("#vcodeImg").click(function () {
                $(this).prop("src", "/user/getImage?t=" + new Date().getTime());    //为了避免浏览器的缓存机制，改变参数
            });
        });
    </script>
</head>
<body>
<h1>用户登陆</h1>
<a th:href="@{/toRegister}">注册</a>
<form th:action="@{/user/login}" method="post">
    用户名:<input type="text" name="username" required> <br/>
    密码 : <input type="password" name="password" required> <br>
    请输入验证码: <input type="text" name="vcode" required>
    <img id="vcodeImg" th:src="@{/user/getImage}" alt="" title="看不清？换一张"><br>
    <input type="checkbox" name="rememberMe"/>记住我
    <input type="submit" value="登录">
</form>
</body>
</html>